!!! 5
html(lang="en")
  head
    title= "Broadcast Administration"
    link(href="/stylesheets/admin.css", rel="stylesheet")
  body
    #container
     #left-column
      h1.broadcast-title= "broadcast"
         span.broadcast-sub-title administration
      ul#left-nav
       li
         a(href="/")= "dashboard"
       li.on
         a(href="/admin/channels/")= "channels"
       li
         a(href="/admin/channel-sets/")= "channel sets"
      
      != body
      script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js")
      script(src="/javascripts/admin.js")
      script(src="/javascripts/api.js")
