!!! 5
html(lang="en")
  head
    title= "Broadcast Administration"
    link(href="/stylesheets/broadcast.css", rel="stylesheet")
    link(href="/stylesheets/admin.css", rel="stylesheet")
    body(id=type + '-' + method, class=type)
      #container
        #navigation
          h1.broadcast-title= "broadcast"
             span.broadcast-sub-title administration
          nav
            ul
              each item in navItems
                li(id="navigation-" + item.name)
                  a(href=item.href)= item.label
      
        #main!= body
    
    ////////////////////////////////////////////////////////////////////////////
    // Mixins
    ////////////////////////////////////////////////////////////////////////////
    
    mixin pagination
      p.pagination= "Page ${currentPage} of ${totalPages}"
      nav.buttons
        ="{{if prevPage !== null}}"
          a.button.button-simple.prev(href="?page=${prevPage}")= "Previous Page"
        ="{{/if}}"
        ="{{if nextPage !== null}}"
          a.button.button-simple.next(href="?page=${nextPage}")= "Next Page"
        ="{{/if}}"
    
    ////////////////////////////////////////////////////////////////////////////
    // Channels
    ////////////////////////////////////////////////////////////////////////////
    
    script(id="template-channels", type="text/x-jquery-tmpl")
      table.data-list(border="0", cellspacing="0", cellpadding="0")
        thead
          tr
            th= "Index"
            th.title= "Title"
            th.url= "URL"
            th= "Type"
            th.actions= "Actions"
        tbody
          ="{{each channels}}"
            tr
              td= "${index}"
              td.title= "${title}"
              td.url 
                a(href="${url}")= "${url}"
              td= "${type}"
              td.actions
                a.edit(href="update/${_id}")= ""
                a.delete(href="delete/${_id}")= ""
          ="{{/each}}"
      footer
        mixin pagination
    
    script(id="template-channels-form", type="text/x-jquery-tmpl")
      form(action="${action}", method="${method}")
        = "{{if channel}}"
          input(name="id", type="hidden", value="${channel._id}")
        = "{{/if}}"
        ol
          li
            label= "Index"
              = "{{if channel}}"
                input.small(id="channel-index", name="index", type="number", value="${channel.index}")
              = "{{else}}"
                input.small(id="channel-index", name="index", type="number")
              = "{{/if}}"
          li
            label= "Title"
              = "{{if channel}}"
                input.large(id="channel-title", name="title", value="${channel.title}")
              = "{{else}}"
                input.large(id="channel-title", name="title")
              = "{{/if}}"
          li
            label= "URL"
              = "{{if channel}}"
                input.large(id="channel-url", name="url", type="url", value="${channel.url}")
              = "{{else}}"
                input.large(id="channel-url", name="url", type="url")
              = "{{/if}}"
          li
            label= "Type"
              select(id="channel-type", name="type")
                = "{{if channel}}"
                  /* so fucking lame */
                  <option value="page" {{if channel.type === 'page'}}selected{{/if}}>Page</option>
                  <option value="image" {{if channel.type === 'image'}}selected{{/if}}>Image</option>
                  <option value="video" {{if channel.type === 'video'}}selected{{/if}}>Video</option>
                = "{{else}}"
                  option(value="page")= "Page"
                  option(value="image")= "Image"
                  option(value="video")= "Video"
                = "{{/if}}"
          li
            label= "Timeout (in milliseconds)"
              = "{{if channel}}"
                input.small(id="channel-timeout", name="timeout", type="number", value="${channel.timeout}")
              = "{{else}}"
                input.small(id="channel-timeout", name="timeout", type="number")
              = "{{/if}}"
          li
            button.button.button-simple(type="submit")
              = "{{if method === 'POST'}}"
                = "Create New Channel"
              = "{{else}}"
                = "Update Channel"
              = "{{/if}}"
    
    ////////////////////////////////////////////////////////////////////////////
    // Channels Sets
    ////////////////////////////////////////////////////////////////////////////
    
    script(id="template-channel-sets", type="text/x-jquery-tmpl")
      table.data-list(border="0", cellspacing="0", cellpadding="0")
        thead
          tr
            th.title= "Title"
            th.channels= "Channels"
            th.actions= "Actions"
        tbody
          ="{{each channelSets}}"
            tr
              td.title= "${title}"
              td.channels= "${channels.length}"
              td.actions
                a.edit(href="update/${_id}")= ""
                a.delete(href="#", data-id="${_id}")= ""
          ="{{/each}}"
      footer
        mixin pagination
    
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js")
    script(src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js")
    script(src="/javascripts/libs/sammy.js")
    script(src="/javascripts/broadcast.js")
    script(src="/javascripts/api.js")
    script(src="/javascripts/admin.js")
