!!! 5
html(lang="en")
  head
    title= "Broadcast Administration"
    link(href="/stylesheets/broadcast.css", rel="stylesheet")
    link(href="/stylesheets/admin.css", rel="stylesheet")
    body(id=type + '-' + method, class=type)
      #container
        #navigation
          h1.broadcast-title= "broadcast"
             span.broadcast-sub-title administration
          nav
            ul
              each item in navItems
                li(id="navigation-" + item.name)
                  a(href=item.href)= item.label
      
        #main!= body
    
    ////////////////////////////////////////////////////////////////////////////
    // Mixins
    ////////////////////////////////////////////////////////////////////////////
    
    mixin pagination
      p.pagination= "Page ${currentPage} of ${totalPages}"
      nav.buttons
        ="{{if prevPage !== null}}"
          a.button.button-simple.prev(href="?page=${prevPage}")= "Previous Page"
        ="{{/if}}"
        ="{{if nextPage !== null}}"
          a.button.button-simple.next(href="?page=${nextPage}")= "Next Page"
        ="{{/if}}"
    
    ////////////////////////////////////////////////////////////////////////////
    // Channels
    ////////////////////////////////////////////////////////////////////////////
    
    script(id="template-channels", type="text/x-jquery-tmpl")
      table.data-list(border="0", cellspacing="0", cellpadding="0")
        thead
          tr
            th= "Index"
            th.title= "Title"
            th.url= "URL"
            th= "Type"
            th.actions= "Actions"
        tbody
          ="{{each channels}}"
            tr
              td= "${index}"
              td.title= "${title}"
              td.url 
                a(href="${url}")= "${url}"
              td= "${type}"
              td.actions
                a.edit(href="update/${_id}")= ""
                a.delete(href="#", data-id="${_id}")= ""
          ="{{/each}}"
      footer
        mixin pagination
    
    script(id="template-channels-form", type="text/x-jquery-tmpl")
      form(method="post")
        ol
          li
            label(for="channel-index")= "Index"
            input(id="channel-index", name="index", type="number")
          li
            label(for="channel-title")= "Title"
            input(id="channel-title", name="title")
          li
            label(for="channel-url")= "URL"
            input(id="channel-url", name="url")
          li
            label(for="channel-type")= "Type"
            select(id="channel-type", name="type")
              option(value="page")= "Page"
              option(value="image")= "Image"
              option(value="video")= "Video"
          li
            label(for="channel-timeout")= "Timeout"
            input(id="channel-timeout", name="timeout", type="number")
          li
            button.button.button-simple(type="submit")= "Create New Channel"
    
    ////////////////////////////////////////////////////////////////////////////
    // Channels Sets
    ////////////////////////////////////////////////////////////////////////////
    
    script(id="template-channel-sets", type="text/x-jquery-tmpl")
      table.data-list(border="0", cellspacing="0", cellpadding="0")
        thead
          tr
            th.title= "Title"
            th.channels= "Channels"
            th.actions= "Actions"
        tbody
          ="{{each channelSets}}"
            tr
              td.title= "${title}"
              td.channels= "${channels.length}"
              td.actions
                a.edit(href="update/${_id}")= ""
                a.delete(href="#", data-id="${_id}")= ""
          ="{{/each}}"
      footer
        mixin pagination
    
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js")
    script(src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js")
    script(src="/javascripts/libs/sammy.js")
    script(src="/javascripts/broadcast.js")
    script(src="/javascripts/api.js")
    script(src="/javascripts/admin.js")
