!!! 5
html(lang="en")
  head
    title= "Broadcast Administration"
    link(href="/stylesheets/broadcast.css", rel="stylesheet")
    link(href="/stylesheets/admin.css", rel="stylesheet")
    body(id=type + '-' + method, class=type)
      #container
        #navigation
          h1.broadcast-title= "broadcast"
             span.broadcast-sub-title administration
          nav
            ul
              li(id="navigation-dashboard")
                a(href='/admin/', accesskey="d")= "Dashboard"
              li(id="navigation-channels")
                a(href='/admin/channels/', accesskey="c")= "Channels"
              li(id="navigation-channel-sets")
                a(href='/admin/channel-sets/', accesskey="s")= "Channel Sets"
      
        #main!= body
    
    script(src="/javascripts/libs/jquery.min.js")
    script(src="/javascripts/libs/jade.min.js")
    script(src="/javascripts/libs/sammy.min.js")
    script(src="/javascripts/libs/weld.min.js")
    script(src="/javascripts/broadcast.js")
    script(src="/javascripts/services/api.js")
    script(src="/javascripts/services/template.js")
    script(src="/javascripts/widgets/admin/channel.create.js")
    script(src="/javascripts/widgets/admin/channel.list.js")
    script(src="/javascripts/widgets/admin/channel.update.js")
    script(src="/javascripts/widgets/admin/channelset.create.js")
    script(src="/javascripts/widgets/admin/channelset.list.js")
    script(src="/javascripts/widgets/admin/channelset.update.js")
    script(src="/javascripts/widgets/admin/redirector.js")
    script(src="/javascripts/widgets/admin.js")
