!!! 5
html(lang="en")
  head
    title= "Broadcast Administration"
    link(href="/stylesheets/admin.css", rel="stylesheet")
  body
    div#container
     div#left-column
      h1.broadcast-title= "broadcast"
         span.broadcast-sub-title administration
      ul#left-nav
       li
         a(href="/")= "Dashboard"
       li
         a(href="/admin/channels/")= "Channels"
       li
         a(href="/admin/channel-sets/")= "Channel Sets"
              

      != body
     //div#right-column