mixin form(action, channel)
  form(action="/admin/channels/" + action, method="post")
    if channel
      input(type="hidden", name="id", value=channel._id)
    ul
      li
        label= "Index"
          if channel
            input(name="index", type="number", value=channel.index)
          else
            input(name="index", type="number")
      li
        label= "Title"
          if channel
            input(name="title", value=channel.title)
          else
            input(name="title")
      li
        label= "URL"
          if channel
            input(name="url", value=channel.url)
          else
            input(name="url")
      li
        label= "Type"
          select(name="type")
            - var types = ["page", "image", "video"]
              each type in types
                if channel && channel.type === type
                  option(value=type, selected)= type
                else
                  option(value=type)= type
      li
        if channel
          input(name="timeout", type="number", value=channel.timeout)
        else
          input(name="timeout", type="number")
      li
        input(type="submit")
