tr.channel
  td.actions
    a.action.remove(href="#", title="Remove this channel")= ""
  td.channel
    select.full(name="configuredChannels")
      - each channel in channels
        if (typeof id !== 'undefined' && id == channel._id)
          option(value=channel._id, selected)= channel.name
        else
          option(value=channel._id)= channel.name
  td.timeout
    if (typeof timeout !== 'undefined')
      input.full(name="timeouts", type="number", value=timeout)
    else
      input.full(name="timeouts", type="number", value=channels[0].timeout)
