form(action=action, method=method)
  if (typeof display !== 'undefined')
    input(name="id", type="hidden", value=display._id)
    input(name="rev", type="hidden", value=display._rev)
  ol
    li#display-name
      label= "Name"
        if (typeof display !== 'undefined')
          input.large(name="name", value=display.name)
        else
          input.large(name="name")
    li#display-channels
      label= "Channels"
      button#display-add-channel-set.button.button-simple(type="button")
        = "Add New Channel Set"
      table.data-list
        thead
          tr
            th.actions= "Actions"
            th.channel= "Channel Set"
            th.timeout= "Start Time"
        tbody
    li#display-buttons
      button.button.button-simple(type="submit")
        if (method === "POST")
          = "Create New Display"
        else
          = "Update Display"