form(action=action, method=method)
  if (typeof channelSet !== 'undefined')
    input(name="id", type="hidden", value=channelSet._id)
    input(name="rev", type="hidden", value=channelSet._rev)
  ol
    li#channel-set-name
      label= "Name"
        if (typeof channelSet !== 'undefined')
          input.large(name="name", value=channelSet.name)
        else
          input.large(name="name")
    li#channel-set-channels
      label= "Channels"
      button#channel-set-add-channel.button.button-simple(type="button")
        = "Add New Channel"
      table.data-list
        thead
          tr
            th.actions= "Actions"
            th.channel= "Channel"
            th.timeout= "Timeout"
        tbody
    li#channel-set-buttons
      button.button.button-simple(type="submit")
        if (method === "POST")
          = "Create New Channel Set"
        else
          = "Update Channel Set"