form(action=action, method=method)
  if (typeof channel !== 'undefined')
    input(name="id", type="hidden", value=channel._id)
    input(name="rev", type="hidden", value=channel._rev)
  ol
    li
      label= "Name"
        if (typeof channel !== 'undefined')
          input.large(id="channel-name", name="name", value=channel.name)
        else
          input.large(id="channel-name", name="name")
    li
      label= "Description"
        if (typeof channel !== 'undefined')
          input.large(id="channel-description", name="description", value=channel.description)
        else
          input.large(id="channel-description", name="description")
    li
      label= "URL"
        if (typeof channel !== 'undefined')
          input.large(id="channel-url", name="url", type="url", value=channel.url)
        else
          input.large(id="channel-url", name="url", type="url")
    li
      label= "Type"
        select(id="channel-type", name="assetType")
          if (typeof channel !== 'undefined')
            /* so fucking lame */
            if channel.assetType === 'page'
              option(value="page", selected)= "Page"
            else
              option(value="page")= "Page"
            if channel.assetType === 'image'
              option(value="image", selected)= "Image"
            else
              option(value="image")= "Image"
            if channel.assetType === 'video'
              option(value="video", selected)= "Video"
            else
              option(value="video")= "Video"
          else
            option(value="page")= "Page"
            option(value="image")= "Image"
            option(value="video")= "Video"
    li
      label= "Timeout (in milliseconds)"
        if (typeof channel !== 'undefined')
          input.small(id="channel-timeout", name="timeout", type="number", value=channel.timeout)
        else
          input.small(id="channel-timeout", name="timeout", type="number")
    li
      button.button.button-simple(type="submit")
        if (method === "POST")
          = "Create New Channel"
        else
          = "Update Channel"
