form(action=action, method=method)
  - if (typeof display !== 'undefined')
    input(name="id", type="hidden", value=display._id)
  ol
    li#display-title
      label= "Title"
        - if (typeof display !== 'undefined')
          input.large(name="title", value=display.title)
        - else
          input.large(name="title")
    li#display-channels
      label= "Channels"
      button#display-add-channel-set.button.button-simple(type="button")
        = "Add New Channel Set"
      table.data-list
        thead
          tr
            th.actions= "Actions"
            th.channel= "Channel Set"
            th.timeout= "Start Time"
        tbody
    li#display-buttons
      button.button.button-simple(type="submit")
        - if (method === "POST")
          = "Create New Display"
        - else
          = "Update Display"