include includes/form

h2= "Channels"

#channels-list-header
  h3= "List of Available Channels"
  a.channel-admin-button(href="/admin/channels/remove?id=")= "Create New Channel"

#channels
  script(id="template-channels", type="text/x-jquery-tmpl")
   table#channel-list(border="0",cellspacing="0",cellpadding="0")
    thead
      tr
        th= "Index"
        th.title= "Title"
        th.url= "URL"
        th= "Type"
        th.actions= "Actions"
    ="{{each channels}}"
        tr
          td= "${index}"
          td.title= "${title}"
          td.url 
            a(href="${url}")= "${url}"
          td= "${type}"
          td.actions  
            a.edit(href="update/${_id}")= ""
            a.delete(href="#", data-id="${_id}")= ""
    ="{{/each}}"
      
p= "Page 1 of 6"
a(href="#")= "Previous Page"
a(href="#")= "Next Page"