header
  h2= "Channel Sets"
  h3= "List of Available Channel Sets"
  a.button.button-simple(href="/admin/channel-sets/create")= "Create New Channel Set"

section#channel-sets
  script(id="template-channel-sets", type="text/x-jquery-tmpl")
   table.data-list(border="0",cellspacing="0",cellpadding="0")
    thead
      tr
        th= "Index"
        th.title= "Title"
        th.url= "URL"
        th= "Type"
        th.actions= "Actions"
    ="{{each channels}}"
        tr
          td= "${index}"
          td.title= "${title}"
          td.url 
            a(href="${url}")= "${url}"
          td= "${type}"
          td.actions
            a.edit(href="update/${_id}")= ""
            a.delete(href="#", data-id="${_id}")= ""
    ="{{/each}}"

footer
  p.pagination= "Page 1 of 6"
  nav.buttons
    a.button.button-simple.prev(href="#")= "Previous Page"
    a.button.button-simple.next(href="#")= "Next Page"
