mixin channels(channels, thisChannel)
  if thisChannel
    select(name="channels[]")
      option(value="")= "None"
      each channel in channels
        if thisChannel.ref._id.toString() == channel._id.toString()
          option(value=channel._id, selected)= channel.title
        else
          option(value=channel._id)= channel.title
  else
    select(name="channels[]")
      option(value="")= "None"
      each channel in channels
        option(value=channel._id)= channel.title

mixin form(action, set)
  form(action="/admin/channel-sets/" + action, method="post")
    if set
      input(type="hidden", name="id", value=set._id)
    ul
      li
        label= "Title"
          if set
            input(name="title", value=set.title)
          else
            input(name="title")
      if set
        li
          label= "Current Channels"
          ul
            each channel in set.channels
              li
                mixin channels(channels, channel)
                input(type="number", name="timeouts[]", value=channel.timeout)
      li
        label= "New Channel"
        mixin channels(channels)
        input(type="number", name="timeouts[]")
      li
        input(type="submit")
